<header class="header">
<select onchange={{action (mut layoutTypeIndex) value="target.value"}}>
	{{#each layoutType as |layoutChoice index|}}
		<option value={{ index }} selected={{eq layoutTypeIndex index}}>{{layoutChoice.name}}</option>
	{{/each}}
</select>
</header>
<div id="cy"></div>
