body {
	background-color: #34A5DA;
	margin: 0;
	padding: 0;
}
h2 {
 padding: 1rem;
 color: #FFFFFF;
 font-family: sans-serif;
}
.container {
	display: flex;
	flex-direction: column;
}
.container > div {
		flex: 1;
}
.footer {
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	order: 2;
	background-color: #222222;
	position: absolute;
	bottom: 0;
}
#cy {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	order: 1;
}
