<article>
	<header>
		<h1>Graph Visualization Sandbox</h1>
		<p>This is an application to explore graph layout algorithms. The data used as an example, is a very simple and raw data set collected from the observations of a dolphin community. It only contains nodes with names identifing the dolphins and edges that denote an interaction with another.</p>
	</header>
	<section>
		<h2>Graph</h2>
		<p>In mathematics and computer science, graph theory is the study of graphs, which are mathematical structures used to model pairwise relations between objects. A graph in this context is made up of vertices, nodes, or points which are connected by edges, arcs, or lines.</p>
	</section>
	<section>
		<h2>Visualization</h2>
		<p>Visualization of a graph is a graph drawing. Graph drawing is an area of mathematics and computer science combining methods from geometric graph theory and information visualization to derive two-dimensional depictions of graphs arising from applications such as social network analysis, cartography, linguistics, and bioinformatics.</p>
	</section>
</article>
