<nav>
	{{#link-to "cyto"}}Sandbox {{fa-icon "arrow-right"}}{{/link-to}}
</nav>
<article>
	<header>
		<h1>Graph Visualization Sandbox</h1>
		<p>As a designer and technologist, an enormous part of generating valuable hypotheses with data science involves experimenting with how you may best present the insights. Exploring graph layout algorithms can be time consuming and cumbersome. So use this sandbox to explore how you may display the data to best describe your insights.</p>
	</header>
	<section>
		<div class="graph_example">
			<figure>
				<img src='assets/images/highlighted_nodes_cropped.png' alt='Dolphin selected'>
			</figure>
		</div>
		<div class="data-note">
			<h2>Data Used In Example Graph</h2>
			<p>The data in our sandbox is from a dolphin social network. It describes an undirected social network of frequent associations between 62 dolphins in a community living off Doubtful Sound, New Zealand. D. Lusseau, K. Schneider, O. J. Boisseau, P. Haase, E. Slooten, and S. M. Dawson, Behavioral Ecology and Sociobiology 54, 396-405 (2003).</p>
			<h3>Things To Watch For</h3>
			<p>As you select different layouts watch how some display popularity, hierarchy and clustering of the dolphin community.</p>
			<h3>Coming Soon</h3>
			<p>Ability to add your own JSON formatted data sets to explore. Ember adapter for Neo4J so you can connect to a project Neo instance and explore data in real-time.</p>
		</div>
	</section>
	<section class="definitions">
		<div>
			<h2>Graph</h2>
			<p>In mathematics and computer science, graph theory is the study of graphs, which are mathematical structures used to model pairwise relations between objects. A graph in this context is made up of vertices, nodes, or points which are connected by edges, arcs, or lines.</p>
		</div>
		<div>
			<h2>Visualization</h2>
			<p>Visualization of a graph is a graph drawing. Graph drawing is an area of mathematics and computer science combining methods from geometric graph theory and information visualization to derive two-dimensional depictions of graphs arising from applications such as social network analysis, cartography, linguistics, and bioinformatics.</p>
		</div>
	</section>
</article>
